:root {
  --primary-color: #ffffff;
  --secondary-color: #2d3748;
  --background-color: #f8f9fa;
  --text-color: #2d3748;
  --text-s-color: #141f25;
  --btn-color: #1024dd;
  --icon-color: #1024dd;
  --icon-color-actv: purple;
  --flag: green;
  --flagred: red;
  --circ-bg: #1024dd;
  --circ-bgg: lightgray;
  --Gray-Gray-700: #2d3748;
  --Gray-Gray-800: #57585e;
  --Gray-Gray-200: #e2e8f0;
  --White: #fff;
  --primary-ic-color: #1024dd;
  --accent-ic-color: #fff;
  --accent-new-color: #757575;
  --secColor: #1abfa0;
  --bord-color: #50c1fa;
  --org-sidebar: #868e96;
}

@font-face {
  font-family: "ibm";
  src: url(../assets/fonts/IBMPlexSansArabic-Regular.ttf);
}

html,
body {
  background-color: var(--background-color) !important;
  font-family: "ibm", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--Gray-Gray-700);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

h3 {
  color: var(--Gray-Gray-700);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  color: var(--text-color);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h5 {
  color: #57585e;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h6 {
  color: #a0aec0;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.h8 {
  color: var(--background-color);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h7 {
  font-size: 14px !important;
}

.hvvv {
  color: var(--Gray-Gray-700);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* sidebar css */

.priBack {
  background-color: var(--icon-color);
}

.Gray-Gray-700 {
  color: var(--Gray-Gray-700);
}

.Gray-Gray-800 {
  color: var(--Gray-Gray-800);
}

.Tit-14-700 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Tit-14-600 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Tit-12-700 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.white-c {
  color: var(--White);
}

.tit-12-400 {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tit-12-500 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tit-10-400 {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tit-20-700 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tit-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tit-18-700 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tit-16-400 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.tit-16-700 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tit-16-600 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btncolor {
  background-color: var(--btn-color);
  border: none !important;
}

/* sidebar css */

.custom-search-input {
  border: none !important;
  outline: none !important;
  transition: all 0.3s ease-in-out !important;
  background-color: transparent !important;
  color: #000 !important;
}

.custom-search-input:focus {
  border: none !important;
  background-color: transparent !important;
  color: #000 !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}

input:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}

.text-light {
  color: var(--text-color) !important;
}

.ft {
  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ftnote {
  color: var(--Gray-Gray-700);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: start;
}

/* RTL styles when Arabic is detected */
.rtl h1,
.rtl h2,
.rtl h3,
.rtl h4,
.rtl h5,
.rtl h6 {
  text-align: end;
}

.hv {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  /* 25.2px */
}

.chvv {
  color: var(--text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chvvs {
  color: var(--background-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hvv {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hvvs {
  color: var(--background-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.htitle {
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ad1 {
  color: var(--text-color);
  letter-spacing: 0%;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.ad2 {
  color: var(--text-color);
  letter-spacing: 0%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

ul li {
  margin: 4px;
}

.ad4 {
  color: var(--Gray-Gray-700);

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.ad3 {
  color: #2d3748;
  letter-spacing: 0%;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.btn-custom {
  border-radius: 12px;
}

.r-custom {
  border-radius: 15px;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}

.h3v {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cust-w {
  width: 16px;
}

.h6v {
  color: var(--Gray-Gray-700);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.custroundbtn {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  background: #fff;
}

table thead th {
  color: var(--Gray-Gray-800) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

table tbody td {
  color: var(--Gray-Gray-700) !important;

  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

table tbody tr {
  color: var(--text-color) !important;
  background-color: #ffffff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  border: 20px solid var(--Gray-Gray-200) !important;
}

table tbody td:first-child {
  border-left: 5px solid var(--flag);
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

[dir="rtl"] table tbody td:first-child {
  border-right: 5px solid var(--flag);
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.no-flag-style tbody td:first-child {
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.bg-danger-subtle {
  background-color: #ff616f !important;
}

.alertFont {
  font-size: 12px;
}

.textpink {
  color: #c14b93 !important;
}

.navBg {
  background-color: var(--primary-color);
  padding: 18px 88px;
}

.navbgCol {
  background-color: var(--primary-color);
}

.cardbg {
  background-color: var(--primary-color);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05) !important;
  border-radius: 15px;
}

.dropshadow {
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02) !important;
}

@media (max-width: 575.98px) {
  .fs-xs {
    font-size: 0.9rem !important;
  }
}

.sidebar {
  margin-top: 30px;
  margin-right: 91px;
  margin-left: 91px;
}

.custfontbold {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custfont {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.textcolor {
  color: var(--btn-color);
}

.custcolor {
  color: var(--icon-color);
}

.custfontbtn {
  color: var(--White);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--icon-color);
  padding: 8px 16px;
}

.custfontbtnbold {
  color: var(--White);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--icon-color);
  padding: 8px 16px;
}

.custfontbtnbold:hover {
  background-color: transparent !important;

  border: 1px var(--btn-color) solid !important;
  padding: 7px 15px;
}

.custfontbtns {
  color: var(--White);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--icon-color);
  padding: 8px 16px;
}

.custfontbtns:hover {
  color: var(--White);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: var(--icon-color);
  padding: 8px 16px;
}

.custfontbtn:hover {
  background-color: transparent !important;

  border: 1px var(--btn-color) solid !important;
}

.custfontbtnv {
  color: var(--White);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  background-color: var(--icon-color);
}

.custfontbtnv:hover {
  background-color: transparent !important;

  border: 1px var(--btn-color) solid !important;
}

.custCheckbox {
  border: 1px solid var(--icon-color);
}

.custCheckbox:checked {
  background-color: var(--btn-color) !important;
  border: none;
}

.custCheckbox:not(:checked) {
  border: 1px solid var(--icon-color) !important;
}

.custCheckbox:focus {
  border: none;
}

@media (max-width: 992px) {
  .custfontbtn {
    font-size: 10px !important;
    padding: 6px !important;
  }
}

.custfontbtn:hover {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  color: var(--text-color);
}

.custsubtitle {
  color: var(--Gray-Gray-700);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custsubtitle2 {
  color: var(--text-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.custsubtitle3 {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.centered-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custcalendar {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.custcalendartit {
  color: var(--Gray-Gray-700);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custcalendarti {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custsmfont {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.cursor-pointer {
  cursor: pointer;
}

.texto-white {
  color: var(--text-color);
}

.custButton {
  color: var(--White);
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background-color: var(--btn-color);
}

.custButton:hover {
  color: var(--icon-color);
  background-color: transparent !important;

  border: 1px var(--btn-color) solid !important;
}

.flg {
  color: var(--flagred);
}

.custButt-outline {
  color: var(--icon-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background-color: transparent;
  border-radius: 6px;
  border-color: var(--btn-color);
}

.custButt-outline:hover {
  color: var(--White);

  background-color: var(--btn-color);
}

.custButt-outline-secondary {
  color: var(--primary-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background-color: transparent;
  color: var(--Gray-Gray-700);
  border-radius: 6px;
  border-color: var(--Gray-Gray-700);
  cursor: none;
}

.srv-btn-width {
  width: fit-content;
}

.prevcard {
  border: 1px solid;
  border-color: var(--btn-color);
  border-radius: 20px;
}

.prevcardt {
  border-bottom: 1px solid;
  border-color: var(--btn-color);
}

.namcolr {
  color: #a0a0a0;
}

.prevcarda {
  border: 1px solid;
  border-color: #e2e8f0;
}

.prevcardta {
  border-bottom: 1px solid;
  border-color: #e2e8f0;
}

.message {
  border: 1px white solid;
  border-radius: 10px 10px 10px 0px;
  color: #000;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
  background: #fff;
}

[dir="rtl"] .message {
  border-radius: 10px 10px 0px 10px;
}

@media (max-width: 768px) {
  .srv-btn-width {
    width: 150px;
    font-size: 12px;
    padding: 8px !important;
  }
}

@media (max-width: 412px) {
  .srv-btn-width {
    width: 100px;
  }
}

.border-bottom-sm-md {
  border-bottom: 1px solid var(--text-color);
  /* or any color */
}

@media (min-width: 992px) {
  /* lg and up */
  .border-bottom-sm-md {
    border-bottom: none !important;
  }

  .swap {
    color: #000;
    background-color: white;
  }
}

.col-md-6-lg-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-md-6-lg-12 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .col-md-6-lg-12 {
    width: 100%;
  }
}

@media (max-width: 1786px) {
  .sidebar {
    margin-left: 30px !important;
  }
}

@media (max-width: 1400px) {
  .sidebar {
    margin-right: 30px !important;
  }
}

.bg-cyan {
  background-color: var(--Gray-Gray-700) !important;
}

.broken-cable-img {
  width: 100%;
  max-width: 400px;
}

@media (min-width: 768px) {
  .broken-cable-img {
    width: 70%;
    max-width: 500px;
  }
}

.notfiNavbar {
  background-color: var(--primary-color);
  width: 250px !important;
  height: auto !important;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.2) !important;
  border: 0px solid;
  border-radius: 16px;
  top: 40px;
  right: -110px;
}

.notfiNavbar::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 10px;

  background-color: var(--btn-color);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.pricetit {
  color: var(--text-color);

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.settCardBorder {
  border: 1px var(--btn-color) solid;
  border-radius: 8px;
  color: black;
}

.bg-prim-color {
  background-color: var(--primary-color);
}

.bg-white-color {
  background-color: var(--btn-color);
}

.img-opacity {
  opacity: 0.6;
}

.centered-absolut {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.custPadding {
  padding-left: 160px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.settingCard {
  position: absolute;
  top: 20%;
  left: 4%;
}

[dir="rtl"] .settingCard {
  right: 4%;
}

[dir="rtl"] .custPadding {
  padding-right: 160px;
  padding-left: 0px;
}

.form-check-input:checked {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}
.form-check-input:focus {
  border-color: var(--btn-color);
}

.iconcolor {
  --svg-new-col: var(--primary-ic-color);
  --svg-pri-col: var(--primary-ic-color);
  --svg-sec-col: var(--accent-ic-color);
}

.iconcolor2 {
  --svg-new-col: var(--accent-new-color);
  --svg-pri-col: var(--accent-ic-color);
  --svg-sec-col: var(--primary-ic-color);
}

.iconcolor3 {
  --svg-sec-col: var(--org-sidebar);
}

.textcolside {
  color: var(--org-sidebar);
}

.iconcolors {
  color: var(--background-color);
}

.iconcol {
  color: var(--flag);
}

.iconSize1 {
  width: 24px;
  height: 24px;
}

.iconSize5 {
  width: 18px;
  height: 18px;
}

.cust-iconSize {
  width: 35px;
  height: 35px;
}

.iconSize9 {
  width: 50px;
  height: 22.5px;
  flex-shrink: 0;
}

.iconSize110 {
  width: 30px;
  height: 30px;
}

.iconSize6 {
  width: 400px;
  height: 200px;
}

.iconSize7 {
  width: 100%;
  height: auto;
  margin-top: -130px;
}

.iconSize13 {
  width: 100%;
  height: auto;
  margin-top: -130px;
}

.iconSize8 {
  width: 100%;
  height: auto;
  margin-bottom: -700px;
  margin-top: -750px;
}

.iconSize2 {
  width: 36px;
  height: 36px;
}

.iconSize3 {
  width: 20px;
  height: 20px;
}

.iconSize4 {
  width: 80px;
  height: 80px;
}

.iconSize9 {
  width: 44px;
  height: 40px;
}

.iconSize12 {
  width: 14px;
  height: 14px;
}

.iconSize14 {
  width: 64px;
  height: 64px;
}

.iconSize7 {
  width: 50px;
  height: 50px;
}

.iconSize11 {
  width: 300px;
  height: 250px;
}
.coverimg {
  margin: 80px;
}

.input-group {
  padding: 8px;
  margin-top: 12px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.sidebar-collapse {
  width: 300px;
  background-color: #000;
  padding: 30px;
  z-index: 1050;
  position: fixed;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-100%);
  top: 0;
  left: 0;
  height: 100%;
}

.sidebar-collapse.show {
  transform: translateX(0);
}

[dir="rtl"] .sidebar-collapse {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

[dir="rtl"] .sidebar-collapse.show {
  transform: translateX(0);
}

.rotate-loop {
  animation: rotateIcon 1s linear infinite;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1500px) {
  .hideun {
    display: none !important;
  }
}

.circbg {
  background-color: var(--circ-bg) !important;
}

.circbgg {
  background-color: var(--circ-bgg) !important;
}

.circbgg2 {
  color: #a0aec0;
}

.cardbgv2 {
  background-color: #132c34;
}

.react-tel-input {
  display: flex;
  flex-direction: row-reverse;
}

[dir="rtl"] .react-tel-input {
  display: flex;
  flex-direction: row-reverse;
}

.react-tel-input .form-control {
  width: 100% !important;
  border: none !important;
  border-radius: 120px;
  padding: 25px;
  border-radius: 10px !important;
  padding-left: 20px !important;
  text-align: left !important;
}

[dir="rtl"] .react-tel-input .form-control {
  text-align: right !important;
}

.react-tel-input .flag-dropdown {
  padding: 10px !important;
  border-radius: 10px !important;
  border: none !important;
  position: static !important;
}

.react-tel-input .flag-dropdown.open {
  border: none !important;
  display: flex;
  flex-direction: row;
}

.react-tel-input .country-list .search {
  display: flex;
  flex-direction: row;
  background-color: red;
}

[dir="rtl"] .react-tel-input .country-list .search {
  display: flex;

  flex-direction: row-reverse;
}

[dir="rtl"] .react-tel-input .flag-dropdown.open {
  display: flex;
  flex-direction: row-reverse;
}

.secColor {
  background-color: var(--secColor);
}

.sectextcolor {
  color: var(--secColor);
}
[dir="rtl"] .react-tel-input .flag-dropdown.open {
  display: flex;
  flex-direction: row;
}

.react-tel-input .selected-flag {
  display: flex;
  justify-content: center;
  width: 100% !important;
  border: none !important;
}

.react-tel-input .selected-flag .flag {
  display: flex;
  justify-content: center;
}

.phonegroup {
  border: 2px solid rgb(236, 236, 236);
  border-radius: 10px !important;
}

.react-tel-input .country-list {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin-left: -10px !important;
  margin-top: 40px !important;
}

.react-tel-input .country-list .country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

[dir="rtl"] .react-tel-input .country-list .country {
  display: flex;
  flex-direction: row-reverse;
}

[dir="rtl"] .react-tel-input .country-list {
  margin-right: -10px !important;
}

.editW {
  width: 200px;
}

.react-tel-input .country-list .search-box {
  display: flex;
  flex-direction: row-reverse;
  margin: 0px;
  padding: 0px;
  text-align: left !important;
}

.ringSize {
  width: 228px;
  height: 228px;
}

.comicon {
  width: 27.355px;
  height: 28px;
  flex-shrink: 0;
}

@media screen and (max-width: 576px) {
  .navftSize {
    width: 15px;
    height: 15px;
  }

  .hvvss {
    color: var(--background-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .hvv2 {
    color: var(--text-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

/* cards heights */

.min-tr-ht {
  min-height: 250px;
}

/* .min-comp-ht {
  min-height: 700px;

} */

.min-dash-ht {
  min-height: 74px;
}

.min-adash-ht {
  min-height: 163px;
}

.min-nam-ht {
  min-height: 232px;
}

.min-clan-ht {
  min-height: 550px;
}

.min-file-ht {
  min-height: 350px;
}

.min-week-ht {
  min-height: 595px;
}

.min-pro-ht {
  min-height: 167px;
}

.min-rego-ht {
  min-height: 136px;
}

.min-enroll-ht {
  min-height: 408px;
}

.min-certf-ht {
  min-height: 124px;
}

.min-trn-ht {
  min-height: 195px;
}

.min-yourplan-ht {
  min-height: 655px;
}

.min-prf-ht {
  min-height: 610px;
}

.min-pay-ht {
  min-height: 214px;
}

.min-notfi-ht {
  min-height: 160px;
}

.max-notf-ht {
  max-height: 620px;
}

.max-notfi-ht {
  max-height: 160px;
}
.min-prev-ht {
  min-height: 528px;
}

.min-prev-ai {
  min-height: 466px;
}
.min-train-ht {
  min-height: 500px;
}

.min-serv-ht {
  min-height: 200px;
}

/* cards heights */

.tableCardco {
  background-color: #fff;
  border:2px solid var(--btn-color);
  box-shadow: 0 5px 10px 0 rgba(29, 26, 213, 0.05) !important;
}

.form-select {
  padding: 12px 20px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.cselect select {
  border: none !important;
}

.bordcolor {
  border-color: var(--bord-color) !important;
}

.selclass {
  left: auto;
  right: 0;
  transform: translateX(0%);
}

[dir="rtl"] .selclass {
  position: absolute;
  left: 0;
  right: auto;
  transform: translateX(0%);
}

.techcardtop {
  border-radius: 15px 15px 0px 0px;
}
.top-15 {
  top: 15% !important;
}
.top-20 {
  top: 20% !important;
}
.top-5 {
  top: 5% !important;
}

.chat-box {
  /* width: 320px;
  height: 420px; */
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.gradient-bg {
  background: linear-gradient(to right, #216ed7, #a300cc);
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

[dir="rtl"] .gradient-bg {
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
}

.chat-body {
  overflow-y: auto;
}

.bubble {
  display: inline-block;
  padding: 10px 14px;
  font-size: 14px;
  word-wrap: break-word;
}

.user-bubble {
  background-color: #f3e5f5;
  border-radius: 15px 15px 0 15px;
}

.ai-bubble {
  background-color: #e3f2fd;
  border-radius: 15px 15px 15px 0;
}

.chat-input input {
  border: none;
  background: #f8f9fa;
  outline: none;
}

.left-panel {
  min-width: 280px;
}

.h-80 {
  height: 80% !important;
}
.recstyle {
  position: absolute;
  top: 120px;
  right: 0;
  background-image: url("./../assets//admin//Rectangle41.svg");
}

.width-fit {
  width: fit-content;
}
.hero-height {
  height: 60vh;
}
@media screen and (max-width: 900px) {
  .hero-height {
    height: 40vh;
  }
}

.powered {
  display: flex;
  flex-direction: row;
}

[dir="rtl"] .powered {
  display: flex;
  flex-direction: row-reverse;
}

.question:hover {
  background-color: #216ed714 !important;
  cursor: pointer;
}

.container {
  max-width: 95% !important;
}
@media screen and (max-width: 1200px) {
  table {
  min-width: 150%
}
 }
@media screen and (max-width: 991px) {
  .container {
    max-width: 97% !important;
  }
  table {
  min-width: 180%
}
}

.ai-arrow {
  transform: scaleX(-1);
}
[dir="rtl"] .ai-arrow {
  transform: scaleX(1);
}

select.no-native-arrow {
  appearance: none; /* Most browsers */
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  background-image: none; /* Remove dropdown icon */
}

.trainNum {
  color: var(--primary-color) !important;
  border-radius: 12px;
  background: var(
    --dark-gr,
    linear-gradient(82deg, #313860 2.25%, #151928 79.87%)
  );
}

.tit-9-400 {
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-selectt {
  padding: 8px 24px !important;
}

.bg-svg {
  background-image: url("../assets/admin/eraback.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
}

.bgprim {
  background: var(--btn-color) !important;
}

.bguser {
  border-radius: 15px;
  border: 1.5px solid #fff;
  background: linear-gradient(
    113deg,
    rgba(255, 255, 255, 0.82) 0%,
    rgba(255, 255, 255, 0.8) 110.84%
  );
  box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10.499999046325684px);
}

.min-profil-ht {
  min-height: 500px;
}

.min-systm-ht {
  min-height: 370px;
}

.iconScreens {
  width: 100%;
  height: auto;
  margin-top: -30px;
}

.no-calendar-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.tit-10-700 {
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.newbg {
  background-color: var(--background-color);
}

.modal-header,
.modal-footer,
.modal-body {
  justify-content: center !important;
}

.newSidebar {
  border: 1px solid #d9d9d9;
  border-radius: 20px 20px 0px 0px;
}
.NewsideLogo {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.NewsideLogov2 {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
    border-left: none;

    border-top: none;
   
}
[dir="rtl"] .NewsideLogov2 {
    border-left: 1px solid #d9d9d9;
  border-right: none;

   
}





.NewsideLogov3 {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
  border-left: none;
   
}

.NewsideLogov3actv {

   border-top-left-radius: 15px;
  border-top-right-radius: 0px;

   
}

[dir="rtl"] .NewsideLogov3actv{

  border-top-left-radius: 0px;
  border-top-right-radius: 15px;

}


.onSelect {
  border-radius: 10px;
  background-color: #f6f6f6;
}

.besideHover {
  position: relative;
  /* Needed for ::after positioning */
}

.tooltipText {
  position: absolute;
  left: 120%;
  right: auto;

  /* or left: 120% for LTR */
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: white !important;
  padding: 6px 12px;
  font-size: small;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 100;
}

.besideHover:hover .tooltipText {
  opacity: 1;
  pointer-events: auto;
}

.tooltipText::after {
  content: "";
  position: absolute;
  right: 100%;
  left: auto;
  top: 50%;

  transform: translateY(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent var(--your-color, #000) transparent transparent;
}

[dir="rtl"] .tooltipText {
  right: 120%;
  left: auto;
}

[dir="rtl"] .tooltipText::after {
  left: 100%;
  right: auto;

  border-color: transparent transparent transparent var(--your-color, #000);
}

.navbar-nav.newsidebarr {
  --bs-nav-link-padding-y: 0 !important;
}

.NewsideLogoo {
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-right: none;
  /* border-bottom: 1px solid #D9D9D9;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}


.bgNewSidebar{

 
background: rgba(24, 20, 243, 0.04);
}

.lastPart{



border: 1px solid #d9d9d9;
  border-top: none;

 

}
.lastPartt{
border: 1px solid #d9d9d9;
 border-top: none;
    border-radius: 0px 0px 20px 20px;
}

.newSidebarpadding{

     padding-right: 3rem;
padding-left: 0.5rem;


}

[dir="rtl"] .newSidebarpadding{


   padding-left: 3rem;
padding-right: 0.5rem;
}


.newSiebarMargin{

 margin-left: 1rem;


}

[dir="rtl"] .newSiebarMargin{

  margin-left: auto;

margin-right: 1rem;


}

